/*Estilos para la pagina de arreglos*/

*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 150px;
    background-color: bisque;
    color: black;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    width: 100%;
    font-size: 28px;
    min-height: calc(100vh - 205px);
}

#promedio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}

#promedio input{
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
}

#pares{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}

#pares input{
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
}

#arreglos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    height: 55px;
}

#arregloOri,
#arregloOrd {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: white;
	text-align: center;
	border: 1px solid;
    border-color: black;
	margin-bottom: 1rem;
    gap: 20px;
}

button{
    background-color: aliceblue;
    color: black;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 10px;
}

button:hover{
    background-color: dimgray;
    color: aliceblue;
}